td {
    font-weight: bold;
}
tr:nth-child(odd) {
   
    background-color: black;
    color:white; 
   
}

tr:nth-child(even) {
    border-radius: 25px;
}
input{
    width: 97%;
}

.btn{
    background-color: white;
}